<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    
    <!-- 服务配置 -->
    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name" defaultValue="robot" />
    
    <!-- 日志根目录 (统一存放到项目根目录的 logs 文件夹) -->
    <property name="LOG_PATH" value="logs" />
    
    <!-- 引入基础配置 -->
    <include resource="logback-base.xml" />
    
    <!-- ==================== 根日志配置 ==================== -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC_FILE" />
        <appender-ref ref="ERROR" />
    </root>
    
</configuration>
